body {
    overflow-x: hidden;
}
input#searchbar {
    border-radius: 50px;
    background-color: white;
    color: lightgray;
    width:100%;
    border:1px solid lightgray;
    background-image: url(../../images/search-solid.svg);
    background-size: 15px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.icon-text {
    display:inline-block !important;
}
.btn-primary.override-tuit {
    border-radius: 25px;
    width: 100%
 }
.btn-primary.override-follow {
    border-radius: 25px;
    float: right;
    font-size: 10px;
}
.wd-hyperlink {
    color: rgb(110,118,125);
    padding:16px;
    font-size: 15px;
    display:inline-block;
}
.wd-post-small-top {
    color: rgb(110,118,125);
    font-size: 13px;
    font-weight:normal;
}
.wd-post-small-tuits {
    color: rgb(110,118,125);
    font-size: 11px;
}
.wd-post-small-d {
    color: black;
    font-size: 13px;
    margin:0 0 0 0;
    font-weight:bold;
}
.wd-post-title {
    color: black;
    font-size: 11px;
    margin:0;
}
.wd-rounded-small-image {
    border-radius: 15px;
    height: 60px;
    width: 60px;
    float:right;
}
.wd-left-adjusted {
    float:left;
}
.wd-section {
    border: solid  lightgrey;
    border-width: 1px;
    padding-left: 16px;
    overflow: auto;
}
.wd-user {
    border-radius: 50%;
    width:30px;
    height:30px;
}
.wd-name {
    color: black;
    font-size: 10px;
    font-weight: bold;
}
.wd-at {
    color: rgb(110,118,125);
    font-size: 10px;
}
.wd-pill {
    border-bottom:1px solid lightgray !important;
    border-radius: 1px !important;
}
.wd-pill-selected {
    border-top:1px solid lightgray !important;
    border-left:1px solid lightgray !important;
    border-right:1px solid lightgray !important;
    border-bottom-right-radius: 1px !important;
    border-bottom-left-radius: 1px !important;
    color:gray
}
.wrapper {
    display: inline-block;
    position: relative;
}
.wrapper img {
    display: block;
    max-width:100%;
}
.wrapper h2 {
    bottom: 0;
    position: absolute;
    width: 100%;
    color:white;
}
.wd-post {
    border: 1px solid lightgray;
}