p#title {
    color: white;
    font-size: 20px;
    margin: 12px 0 0 16px;
}
a#heart {
    color:red;
    text-decoration: none;
}
p#handle{
    color: lightgray;
    font-size: 13px;
    margin: 0 0 12px 16px;
}
div#border {
    width: 100%;
    height:1px;
    background-color:lightgray;
}
.wd-user {
    margin: 12px 0 0 16px;
    border-radius: 50%;
    width:48px;
    height:48px;
}
.wd-handle {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 12px 0 0 12px;
}
.wd-handle-date {
    color: lightgray;
    font-weight: normal;
    font-size: 15px;        
}
.wd-inline {
    display: flex;
    align-items: middle;
}
.wd-content-text {
    font-size: 15px;
    color: white;
    margin: 0 16px 12px 12px;
    width: 506px;
}
.wd-content-img {
    margin: 0 0 0 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 504px;
    height: 264px;
}
.wd-content-title {
    color: white;
    font-weight: bold;
    font-size: 15px;  
    margin: 12px 12px 0 12px; 
}
.wd-content-desc {
    color: lightgray;
    font-size: 15px;  
    margin: 0 12px 12px 12px; 
}
.wd-content {
    border: solid 1px;
    border-color:lightgray;
    margin: 0 0 0 12px;
    width:504px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.wd-icon {
    color:lightgray;
    text-decoration: none;
}
.wd-icons {
    margin: 12px 0 5px 12px;
    width: 504px;
    display: flex;
    justify-content: space-between;
}
.wd-icon-space {
    margin: 0 12px 0 0;
}